<div class="banner" id="banner">
    <div class="bg-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-text">
                        <h2>Welcome to <span>Ethereal</span> World</h2>
                        <p>One of the most beautiful HTML5 template designed by W3Template.com</p>
                        <a href="#" class="banner-button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>