<div class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3>Contacto</h3>
                </div>
            </div>
            <div class="col-md-7 col-sm-offset-0 col-sm-6 col-xs-offset-1 col-xs-10">
                <div class="contact-form">
                    <form role="form" novalidate id="contact-form">
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" required>
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Correo" required>
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" id="message" placeholder="Message" rows="6"></textarea>
                        </div>
                        <div class="col-md-12 text-center">
                            <button id="send" type="submit" class="contact-button">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-10">
                <div class="address">
                    <h4>Dirección</h4>
                    <p>Lorem, ipsum dolor.,<br>
                        Lorem, ipsum dolor.<br>
                        Lorem, ipsum.<br>
                    <div class="email"><i class="fa fa-at"></i>hello@sofwy.com<br>
                        <i class="fa fa-mobile"></i>123 456 789
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>