<div id="work" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center text">
                <h3>Nuestro Trabajo</h3>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive"
                                    src="/assets/images/portfolio-1.jpg"> </a> </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive"
                                    src="/assets/images/portfolio-2.jpg"> </a> </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive"
                                    src="/assets/images/portfolio-3.jpg"> </a> </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive"
                                    src="/assets/images/portfolio-4.jpg"> </a> </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="#" class="view-more">View More Items</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>